@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html,body{
    /* background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(146,153,254,1) 50%);} */
/* background-image: url("https://img.freepik.com/free-photo/mint-green-acrylic-texture-background_53876-101907.jpg?size=626&ext=jpg&ga=GA1.1.1160089174.1705990285&semt=ais"); */
/* background-repeat: no-repeat; */
  /* background-size: 1700px 800px; */
}
.Home{
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
 box-shadow: rgba(0, 0, 0, 0.597) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
box-sizing: border-box;
padding: 20px;
background-color: white;

}
.box{
    align-items: center;
    justify-content: center;
    background-color: white;
    display: flex;
    flex-direction:row;
}
div#root{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
}
.email{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;  
}
.email h4{
    font-weight: 600;
    font-size: 32px;
    color: rgb(15,10,68);
    width: 450px;
   
}

.quote h3{
   padding: 20px;
   color: rgb(15, 10, 68);
   font-size: 30px;
   font-style: italic;
   font-weight: 900;
   background-color: rgb(185, 214, 251);
   font-family: 'Popins';
}
